/* $Id$ */

/*
This file contains colors, graphics, and text effects. For structural markup,
see advanced_forum-structure.css.

Colors used:
  #ffffff Text on headers
  #0062A0 Pager number
  #91CDF5 Borders & headers
  #BDE0F5 Container background, sticky topic
  #5F67A5 Container description
  #898989 Forum description
  #EDF5FA Author pane background

Images used:
  images/pager-bg.png Pager background gradient.
*/

/*** FORUM LINK LISTS ********************************************************/

.forum-links li {
  list-style-image: none;
  list-style-type: none;
  background: none;
}

.forum-links li a {
  font-weight: bold;
}

/*** PAGER *******************************************************************/

#forum .pager a:link,
#forum .pager a:visited,
#forum-comments .pager a:link,
#forum-comments .pager a:visited {
  text-decoration: none;
  border: 1px solid #91CDF5;
  background: #ffffff url(images/pager-bg.png) repeat-x left top;
  font-weight: bold;
}

#forum .pager-current,
#forum .pager a:hover,
#forum-comments .pager-current,
#forum-comments .pager a:hover {
  color: #0062A0; 
}

#forum .pager a.active,
#forum-comments .pager a.active {
  background: #fff url(images/pager-bg.png) repeat-x left top;
  color: #0062A0; 
}

/*** FORUM & TOPIC LIST ******************************************************/

/* General */
#forum .forum-table,
#forum .forum-topics {
  border: 1px solid #91CDF5;
}

/* Headers */
#forum .forum-table th,
#forum .forum-topics th,
#forum .forum-topics th a,
#forum .forum-topics th a:link,
#forum .forum-topics th a:hover,
#forum .forum-topics th a:visited {
  background-color: #91CDF5;
  color: #ffffff;
  font-weight: bold;
}

#forum .forum-table tbody,
#forum .forum-topics tbody {
  border-top: none;
}

/* Containers & Forums */
#forum td.container {
  background-color: #BDE0F5;
  border-bottom: none;
}

#forum .forum-details .description {
  font-size: 75%;
  color: #898989;
}

#forum .container .forum-details .description {
  font-weight: normal;
  color: #5F67A5;
}

/* Topic listings */

#forum td .links {
  font-size: 0.9em;
}

#forum tr.sticky-topic {
  background-color: #BDE0F5;
}

/*** FORUM STATISTICS *********************************************************/

#forum-statistics {
  border: 1px solid #91CDF5;
}

#forum-statistics-header {
  background-color: #91CDF5;
  color: #ffffff;
  font-weight: bold;
}

.forum-statistics-sub-header {
  background-color: #BDE0F5;
  font-weight: bold;
}

/*** FORUM THREADS ***********************************************************/

.forum-post {
  background: #ffffff;
  border: 2px solid #91CDF5;
}

.forum-post-panel-sub {
  background: #EDF5FA;
}

/* Header at the top of each post */
.post-info {
  background: #91CDF5 ;
  color: #ffffff;
  border-bottom: 1px solid #91CDF5;
}

.posted-on {
  font-size: .8em;
  font-weight: bold;
}

.forum-comment .new {
  color: #ffffff;
}

.post-title {
  font-weight: bold;
  border-bottom: 1px solid #91CDF5;
}

.post-num a:link,
.post-num a:visited,
.post-num a:active,
.post-num a:hover {
  color: #ffffff;
}

/* Author information pane */
.author-pane .author-name {
  font-size: 120%;
  font-weight: bold;
}

.author-pane .picture img {
	border: 1px solid #91CDF5;
	background: #ffffff;
}

.author-pane .author-pane-label {
  font-weight: bold;
}

/* Post text area */
/* Note: Changes from Naked in this section */
.forum-post-panel-main {
  border-top: 1px solid #91CDF5;
  border-bottom: 1px solid #91CDF5;
}

/* Signature */
.author-signature {
  font-size: .8em;
}
