/* $Id$ */

/*
This document contains structural markup such as widths, margins, padding, and 
floats. For colors and borders, see advanced_forum.css.
*/

/*** PAGER *******************************************************************/

#forum .pager,
#forum-comments .pager {
  float: right;
  margin-top: 5px;
  clear: none;
}

#forum-comments .box {
  clear: both;
}

/*** FORUM LINK LISTS ********************************************************/

.forum-top-links {
  margin: 10px 0 10px 0;
  float: left;
}

ul.forum-links {
  margin: 0;
  padding: 0;
}

.forum-links li {
  margin: 0;
  padding: 0pt 15px 0pt 0pt;
}

/*** FORUM & TOPIC LIST ******************************************************/

#forum {
  width: 100%;
}

#forum table {
  clear: both;
  width: 100%;
}

#forum div.indent {
  margin-left: 30px;
}

.forum-description {
  margin: 5px 0 5px 0;
}

/* Header */
#forum th {
  border-bottom: 0;
  text-align: center;
}

#forum th.forum-name {
  padding-left: 35px;
  text-align: left;
}

/* Forum listing */
#forum td.container {
  padding-top: 5px;
}

#forum td.container {
  border-top: 0;
  margin-top: 0;
  padding-left: 15px;
  padding-top: 5px;
}
#forum .container .description {
  margin: 0;
  padding: 3px 0 0 0;
}

#forum td.forum-icon {
  width: 1px;
  padding: 0 5px;
}

#forum .description {
  margin-left: 0;
  padding-left: 0;
  padding: 5px 0;
}

/* Topic listing */
#forum td.icon {
  width: 1px;
}

#forum td.views {
  text-align: center;
  white-space: nowrap;
  width: 35px;
}

#forum td.created,
#forum td.last-reply {
  font-size: 0.9em;
  line-height: 140%;
  padding: 0 10px;
  white-space: normal !important;
  width: 130px;
}

#forum td .links {
  padding-top: 10px;
}

/*** FORUM STATISTICS ********************************************************/

#forum-statistics-header,
.forum-statistics-sub-header,
.forum-statistics-sub-body {
  padding: 0.3em 0.5em;
}

/*** ICONS LEGEND ************************************************************/

/* Forum folders */
.forum-folder-legend dt, 
.forum-folder-legend dd {
  display: inline;
}

.forum-folder-legend dd {
  margin: 0pt 5px 0pt 0pt;
}

.forum-folder-legend img {
  padding-bottom: 4px;
  vertical-align: middle;
}

/* Forum topics */
.legend-group {
  float: left;
  display: block;
}

.forum-topic-legend dt, 
.forum-topic-legend dd {
  display: inline;
}

.forum-topic-legend dd {
  margin: 0pt 5px 0pt 0pt;
}

.forum-topic-legend img {
  padding-bottom: 4px;
  vertical-align: middle;
}

/*** FORUM THREADS ***********************************************************/

/* Header at the top of each topic/thread */
.forum-topic-header {
  margin: 10px 0 2px 0;
}

.forum-topic-header .forum-links {
  float: left;
}

.forum-topic-header .reply-count {
  float: right;
}

/* Individual forum post */
.forum-post {
  margin: 0 0 5px 0;
  padding: 0;
}

.forum-post-wrapper {
  clear: both;
}

/* Header at the top of each post */
.post-info {
  height:100%;
  clear: both;
  margin-bottom: 3px;
}

.posted-on {
  padding: 0 2px;
  float: left;
}

.forum-post .new {
  float: none;
}

.post-num {
  float: right;
  margin-right: 5px;
}

/* Author information pane */
/* Note: more CSS in the author pane css file */
.forum-post-panel-sub {
  float: left;
  line-height: 100%;
  width: 150px;
}

.forum-post-panel-sub .author-pane {
  margin: 5px 0 5px 10px;
}

.author-pane-name-status .picture {
  margin: 0 0 10px 0;
}

/* Post text area */
.forum-post-panel-main {
  margin-left: 150px; /*Set left margin to LeftColumnWidth*/
  min-height: 50px;
  height: auto !important;
  height: 350px;
}

.forum-post-panel-main .content {
  padding-top: 2px;
}

.forum-post-panel-main .post-title,
.forum-post-panel-main .content {
  margin-left: 0;
  padding-left: 10px;
}

.forum-post-panel-main p {
  margin-right: 10px;
}

/* Signature */
.author-signature {
  margin: 10px 0 5px 10px;
}

/* Post footer */
.forum-post-footer {
  margin-top: 0;
  clear: both;
}

.forum-jump-links {
  float: left;
  line-height: 2em;
  padding: 0px 5px;  
  width: 140px;
}

.forum-post-links {
  line-height: 2em;
  text-align: right;
  padding: 0px 5px;  
  margin-left: 150px;
}
